@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
}
.myBody {
  font-family: "Roboto Condensed", sans-serif;
}
nav {
  z-index: 2;
}
.myLogo {
  width: 1.5rem;
  margin-right: 10px;
}
.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--primary-white) !important;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 0.1875rem solid var(--primary-dark);
}
.nav-link.active,
.nav-link:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}
.navbar-brand {
  max-width: 3 rem;
  padding: 0 !important;
}
.navbar-toggler:hover {
  border: solid 1px var(--primary-orange) !important;
}
.toggle-icon {
  color: #fff;
}
